body {
    background-color: #00f3f3;
}

h1 {
    text-align: center;
    /* max-width: 250px;
    margin: auto;
    padding: 20px; */
}
p{
    text-align: center;
    font-size: 17px;
}
form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],[type="date"], input[type="email"], input[type="tel"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #040504;
}